.project
database-oas/target/classes/com/fasten/wp4/database/controller/RemoteStationController.class
database-oas/aws-database-oas.pem
direction-client/.project
optimizator-operational-client/.project
database-client/.project
database-oas/ec2-54-233-218-208.sa-east-1.compute.amazonaws.com.rdp
database-oas/ec2-win-password
iot-data-emulator/aws-iot-data-emulator.pem
iot-data-emulator/aws-iot-data-emulator.ppk
**/.settings/**
*.prefs
database-client/.settings/org.eclipse.jdt.core.prefs
database-oas/.settings/org.eclipse.jdt.core.prefs
direction-client/.settings/org.eclipse.jdt.core.prefs
geocode-client/.settings/org.eclipse.jdt.core.prefs
kafka-request-client/.settings/org.eclipse.jdt.core.prefs
kafka-response-client/.settings/org.eclipse.jdt.core.prefs
matrix-client/.settings/org.eclipse.jdt.core.prefs
optimizator-operational-client/.settings/org.eclipse.jdt.core.prefs
database-client/.settings/org.eclipse.jdt.core.prefs
database-oas/.settings/org.eclipse.jdt.core.prefs
direction-client/.settings/org.eclipse.jdt.core.prefs
kafka-request-client/.settings/org.eclipse.jdt.core.prefs
kafka-response-client/.settings/org.eclipse.jdt.core.prefs
matrix-client/.settings/org.eclipse.jdt.core.prefs
optimizator-operational-client/.settings/org.eclipse.jdt.core.prefs
predictive-client/.settings/org.eclipse.jdt.core.prefs
kafka-response-client/.classpath
