/*
 * OpenRouteService
 * This is the openrouteservice API V2 documentation for ORS Core-Version `5.0.0`. Documentations for [older Core-Versions](https://github.com/GIScience/openrouteservice-docs/releases) can be rendered with the [Swagger-Editor](https://editor.swagger.io/).
 *
 * OpenAPI spec version: 5.0.0
 * Contact: info@openrouteservice.org
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package org.ors.matrix.client.api;

import org.ors.matrix.client.invoker.ApiCallback;
import org.ors.matrix.client.invoker.ApiClient;
import org.ors.matrix.client.invoker.ApiException;
import org.ors.matrix.client.invoker.ApiResponse;
import org.ors.matrix.client.invoker.Configuration;
import org.ors.matrix.client.invoker.Pair;
import org.ors.matrix.client.invoker.ProgressRequestBody;
import org.ors.matrix.client.invoker.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.ors.matrix.client.model.JSONMatrixResponse;
import org.ors.matrix.client.model.MatrixRequest;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class MatrixApi {
    private ApiClient apiClient;

    public MatrixApi() {
        this(Configuration.getDefaultApiClient());
    }

    public MatrixApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getDefaultUsingPOST
     * @param profile Specifies the matrix profile. (required)
     * @param request The request payload (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getDefaultUsingPOSTCall(String profile, MatrixRequest request, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = request;

        // create path and map variables
        String localVarPath = "/v2/matrix/{profile}"
            .replaceAll("\\{" + "profile" + "\\}", apiClient.escapeString(profile.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json;charset=UTF-8", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key-Parameter" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getDefaultUsingPOSTValidateBeforeCall(String profile, MatrixRequest request, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'profile' is set
        if (profile == null) {
            throw new ApiException("Missing the required parameter 'profile' when calling getDefaultUsingPOST(Async)");
        }
        
        // verify the required parameter 'request' is set
        if (request == null) {
            throw new ApiException("Missing the required parameter 'request' when calling getDefaultUsingPOST(Async)");
        }
        

        com.squareup.okhttp.Call call = getDefaultUsingPOSTCall(profile, request, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Matrix Service
     * Returns duration or distance matrix for mutliple source and destination points. By default a symmetric duration matrix is returned where every point in locations is paired with each other. The result is null if a value can’t be determined.
     * @param profile Specifies the matrix profile. (required)
     * @param request The request payload (required)
     * @return JSONMatrixResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public JSONMatrixResponse getDefaultUsingPOST(String profile, MatrixRequest request) throws ApiException {
        ApiResponse<JSONMatrixResponse> resp = getDefaultUsingPOSTWithHttpInfo(profile, request);
        return resp.getData();
    }

    /**
     * Matrix Service
     * Returns duration or distance matrix for mutliple source and destination points. By default a symmetric duration matrix is returned where every point in locations is paired with each other. The result is null if a value can’t be determined.
     * @param profile Specifies the matrix profile. (required)
     * @param request The request payload (required)
     * @return ApiResponse&lt;JSONMatrixResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<JSONMatrixResponse> getDefaultUsingPOSTWithHttpInfo(String profile, MatrixRequest request) throws ApiException {
        com.squareup.okhttp.Call call = getDefaultUsingPOSTValidateBeforeCall(profile, request, null, null);
        Type localVarReturnType = new TypeToken<JSONMatrixResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Matrix Service (asynchronously)
     * Returns duration or distance matrix for mutliple source and destination points. By default a symmetric duration matrix is returned where every point in locations is paired with each other. The result is null if a value can’t be determined.
     * @param profile Specifies the matrix profile. (required)
     * @param request The request payload (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getDefaultUsingPOSTAsync(String profile, MatrixRequest request, final ApiCallback<JSONMatrixResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getDefaultUsingPOSTValidateBeforeCall(profile, request, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<JSONMatrixResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
