<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

<!-- 	<logger name="com.fasten.wp4.email" level="TRACE" /> -->

	<!-- 	email -->
<!-- 	<logger name="com.sun.mail" level="TRACE" /> -->
<!-- 	<logger name="javax.mail" level="TRACE" /> -->
<!-- 	<logger name="org.springframework.mail" level="TRACE" /> -->

	<!-- autoconfig beans exposed -->
<!-- 	<logger name="org.springframework.boot.autoconfigure" level="TRACE" /> -->
<!-- 	<logger name="org.springframework.web.servlet.mvc" level="TRACE" /> -->
<!-- 	<logger name="org.springframework.web.servlet.DispatcherServlet" level="TRACE" /> -->
<!-- 	<logger name="org.springframework.security" level="TRACE" /> -->
	

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>