<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/fhsot-oas/src/main/java/com/fasten/wp4/FhsotOAS.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="DATABASE_OAS_URL" value="http://200.131.17.17:11007"/>
<mapEntry key="EMAIL_OAS_URL" value="http://200.131.17.17:11001"/>
<mapEntry key="OPTIMIZATOR_OPERATIONAL_URL" value="http://200.131.17.17:11002"/>
<mapEntry key="OPTIMIZATOR_TACTICAL_URL" value="http://200.131.17.17:11004"/>
<mapEntry key="PPA_URL" value="http://200.131.17.17:11009"/>
<mapEntry key="PROBABILITY_DISTRIBUTION_URL" value="http://200.131.17.17:11005"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.fasten.wp4.FhsotOAS"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fhsot-oas"/>
</launchConfiguration>
